server:
  port: 8081

spring:
  profiles:
    active: local

# local 환경
---
spring:
  config:
    activate:
      on-profile: local
  devtools:
    livereload:
      enabled: true
  bot:
    telegram:
      apiDomain: https://api.telegram.org
      username: ksgTest2Bot
      token:
      chatId: 451573335
      channel: "@ktestch"
      api:
        sendMessage: https://api.telegram.org/bot%s/sendMessage
    sheets:
      google:
        url:
    cinema:
      lotte:
        api: http://www.lottecinema.co.kr/LCWS/CinemaMall/CinemaMallData.aspx
      cgv:
        api: https://event.cgv.co.kr/evt/evt/evt/searchEvtListForPage?coCd=A420&evntCtgryLclsCd=03&sscnsChoiYn=N&expnYn=N&expoChnlCd=01&startRow=0&listCount=10
      megabox:
        api: https://m.megabox.co.kr/on/oh/ohd/StoreMain/selectStoreMainList.do
        detailUrl: https://m.megabox.co.kr/store/detail?cmbndKindNo=
    shopping:
      ppomppu:
        url: http://www.ppomppu.co.kr/zboard/zboard.php?id=ppomppu
      clien:
        url: https://www.clien.net/service/board/jirum

# production 환경
---
spring:
  config:
    activate:
      on-profile: production
  bot:
    telegram:
      apiDomain: https://api.telegram.org
      username: ksgTestBot
      token:
      chatId: 451573335
      channel: "@cinema1p1"
      api:
        sendMessage: https://api.telegram.org/bot%s/sendMessage
    sheets:
      google:
        url:
    cinema:
      lotte:
        api: http://www.lottecinema.co.kr/LCWS/CinemaMall/CinemaMallData.aspx
      cgv:
        api: https://event.cgv.co.kr/evt/evt/evt/searchEvtListForPage?coCd=A420&evntCtgryLclsCd=03&sscnsChoiYn=N&expnYn=N&expoChnlCd=01&startRow=0&listCount=10
      megabox:
        api: https://m.megabox.co.kr/on/oh/ohd/StoreMain/selectStoreMainList.do
        detailUrl: https://m.megabox.co.kr/store/detail?cmbndKindNo=
    shopping:
      ppomppu:
        url: http://www.ppomppu.co.kr/zboard/zboard.php?id=ppomppu
      clien:
        url: https://www.clien.net/service/board/jirum
